
body
{margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
background-repeat:repeat-x;
background-color:silver;
font: normal small Arial, Helvetica, sans-serif;
color: #4E4E4E;
text-align:justify;
font-size:16px;
}
.heading
{font-weight:bold;
color:#4477AA;
height:35px;
padding-left:15px;
}
.footerlinks
{font-family:tahoma;
font-size:11px;
color:#ffffff;
text-align:center;
text-decoration:none;
}
.footerlinks:hover
{font-family:tahoma;
font-size:11px;
color:#FFA727;
text-decoration:none;
}
a
{color:#899193;
font-weight:bold;
text-decoration:none;
}
a:hover
{color:#727272;
text-decoration:underline;}
.border
{border:1px solid #4477AA;
}
.toplinks
{width:155px;
text-align:center;
font-size:12px;
font-weight:bold;
line-height:30px;
height:30px;}
.toplinks a
{background-color:#878F91;
color:#ffffff;
display:block;
height:30px;
text-transform:uppercase;
text-decoration:none;}
.toplinks a:hover
{background-color:#7596C3;
color:#ffffff;
text-decoration:none;}
#main
{padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
background-color:#ffffff;
}
#quickheading{font-weight:bold;
background-color:#5B83B6;
height:32px;
padding-left:15px;
text-transform:uppercase;
color:#ffffff;}
.quicklinks{color:#293A72;
padding-left:15px;
text-decoration:underline;}
.quicklinks:hover{color:#000000;
text-decoration:underline;}
.name
{font-family:"century Gothic";
font-size:32px;
color:#ffffff;
padding-bottom:5px;
padding-left:15px;}
.tag
{color:#ffffff;
padding-left:17px;}